{% extends "base.html" %}
{% block content %}
<div>
    <h1>Add New Door</h1>
    <form action="/doors/add" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br>
        <label for="type">Type:</label><br>
        <select id="type" name="type">
            <option value="entry">Entry</option>
            <option value="exit">Exit</option>
        </select>
        <br>
        <br>
        <input type="submit" value="add">
    </form>
</div>
{% endblock %}
