{% extends "base.html" %}
{% block content %}
<div>
    <h1>Add New User</h1>
    <form action="/users/add" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        
        <label for="badgeid">Badge ID:</label><br>
        <input type="text" id="badgeid" name="badgeid"><br>
        <br>
        <input type="submit" value="Add">
    </form>
</div>
{% endblock %}
