<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <!-- <h1 class="logo">A Security System</h1> -->
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('settings') }}">Settings</a></li>
                        <li><a href="{{ url_for('doors') }}">Doors</a></li>
                        <li><a href="{{ url_for('users') }}">Users</a></li>
                        <li><a href="{{ url_for('access_summary') }}">Access Summary</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>
        
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                 {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
