{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/datatables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<div>
    <h1>Doors</h1>
    
    <table id="doors-table" class="display" style="width:100%"></table>

    <br>

    <form action="doors/add">
        <input type="submit" value="Add Door"/>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var doors_table = $('#doors-table').DataTable( {
            "ajax": '/doors/data',
            "columns": [
                { "title": "Name", "data": "name" },
                { "title": "Location", "data": "location" },
                { "title": "Type", "data": "type" },
                {
                    "orderable": false,
                    "render": function (data, type, row) {
                        return "<button onclick='delete_user(" + row.DT_RowID + ")'>Delete</button>"
                    }
                }
            ]
        } )

        var socket = io();
        socket.on('doors', function(msg) {
            if (msg == "refresh") {
                doors_table.ajax.reload() 
            }
        });
    } );

    function delete_user(row_id) {
        $.ajax({
            url: "doors/delete",
            type: "GET",
            data: {"row_id": row_id}
        });
    }
</script>

{% endblock %}
