{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/datatables.min.js"></script>

<div>
    <h1>Users</h1>
    
    <table id="users-table" class="display" style="width:100%"></table>

    <br>

    <button type="button">Add User</button>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#users-table').DataTable( {
            "ajax": '/users/data',
            "columns": [
                { "title": "First Name", "data": "first" },
                { "title": "Last Name", "data": "last" },
                { "title": "ID", "data": "id" }
            ]
        } );
    } );
</script>

{% endblock %}
