body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    /*background-color: #444444;*/
}

/*
 * Header area
 */
header {
    background-color: #222222;
    height: 47px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #33bf00;
    text-transform: uppercase;
    float: left;
}

/*
 * Content
 */
.container {
    width: 80%;
    margin: 0 auto;
}
h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}
h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

/*
 * Menu
 */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    float: right;
    margin: 0;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111111;
}

